* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    font-size: 2.5rem;
    color: #2c3e50;
    text-align: center;
    margin: 20px 0;
}

.intro {
    font-size: 1.2rem;
    color: #34495e;
    line-height: 1.6;
    margin: 0 40%;
    margin-bottom: 50px;
    margin-top: 25px;
    text-align: center;
    width: 0 auto;
}

nav {
    padding: 30px 0;
    text-align: center;
    margin-bottom: 20px;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: orangered;
    font-weight: bolder;
}

.youtube {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

